<style>
table.sortable {min-height:100px;}
</style>

		<table cellspacing="0" cellpadding="0" border="0" class="wide current">
			<tbody id="tbody_for_task_<%=task.id%>">
			<% c = ''  %>
				<%if !@todos.empty?%>
				 <% for todo in @todos%>
						<tr class="<%=c%>" id="todo_item_<%=todo.id%>">
												<!--	<td>	<div id="todo_spinner_<%#=todo.id%>" style="float:left;width:15px;"><%#=image_tag "loader.gif"%></div></td> -->
							<td class="desc" style="min-width:245px;">
							<%=show_status_flag(todo)%>
							<% completed =  (!todo.is_completed.nil? and todo.is_completed== true) ? true : false %>
							
							<% if  !check_completed_project %>
							<%=check_box_tag "todo_complete",0,false,:id =>"show_selected",:onclick => "this.checked=false;completed_alert();	" %>  
							<% elsif  !check_status_project %>
							<%=check_box_tag "todo_complete",0,false,:id =>"show_selected",:onclick => "this.checked=false;suspend_alert();	" %>  
								<%else%>
								<% if check_role_for_guest%>
										<%=check_box_tag "todo_complete",0,completed,:id =>"show_selected",:onclick => "new Ajax.Updater('rightParsfsdfsft', '#{completed_todo_project_task_todos_path(@project.url,@project,task,todo,:checked => completed)}',{method: 'get', parameters: 'id='+#{todo.id} });"%>
								<%else%>
                     <%=check_box_tag "todo_complete",0,false,:id =>"show_selected",:onclick => "this.checked=false;guest_user_alert();	" %>								
								<%end%>
						 
				<%end%>
								<label class="desc-text">
									<%=return_truncate_string_in_view_page(todo.title,230)%> 
									<% if todo.comments.count > 0%>									
									<a class="view-comment <%=check_unread_comments(todo)%>" title="View <%=todo.comments.count%> comments" href="<%=project_task_todo_path(@project.url,@project,task,todo)%>#comments"><span><%=todo.comments.count%> </span></a> 								
									<%end%>
									<span class="actions">																				
										
										<% if !check_completed_project %>
										<a class="todo-comment ir" title="Comment" href="#" onclick="completed_alert(); return false"><span>Comment</span></a>
										<a class="todo-edit ir" title="Edit" href="#" onclick="completed_alert(); return false"><span>Edit</span></a>
												<a class="todo-delete ir" title="Delete" href="#" onclick="completed_alert(); return false"><span>Delete</span></a>
															<% elsif !check_status_project %>
										<a class="todo-comment ir" title="Comment" href="#" onclick="suspend_alert(); return false"><span>Comment</span></a>
										<a class="todo-edit ir" title="Edit" href="#" onclick="suspend_alert(); return false"><span>Edit</span></a>
												<a class="todo-delete ir" title="Delete" href="#" onclick="suspend_alert(); return false"><span>Delete</span></a>
												
                    <% elsif check_role_for_guest%>	
										<a class="todo-comment ir" title="Comment" href="<%=project_task_todo_path(@project.url,@project,task,todo)%>#add-comment"><span>Comment</span></a>
												<%=link_to_remote "<span>Edit</span>", :url => edit_project_task_todo_path(@project.url,@project,task,todo,:filter_option => params[:filter_option],:alt=>c),:method =>:get,:html => {:class =>"todo-edit ir"},:id =>"edit_todo_#{todo.id}", :complete=>"javascript:close_taskmodals(#{task.id});"%>
												
												<%=link_to_remote "<span>Delete</span>",:url => project_task_todo_path(@project.url,@project,task,todo,:filter_option => params[:filter_option]),:method => "delete",:confirm => "Are you sure you want to delete this to-do? ",:html => {:class =>"todo-delete ir"}%>
										<%else%>
												<a class="todo-comment ir" title="Comment" href="<%=project_task_todo_path(@project.url,@project,task,todo)%>#add-comment"><span>Comment</span></a>										
												<a class="todo-edit ir" title="Edit" href="#" onclick="guest_user_alert(); return false"><span>Edit</span></a>
												<a class="todo-delete ir" title="Delete" href="#" onclick="guest_user_alert(); return false"><span>Delete</span></a>
										<%end%>
									</span>
								</label>
							</td>
							<td class="due"><%=(todo.due_date.nil?) ? "" : todo.due_date.strftime("%b %e")%></td>
							<td class="who"><%=todo.assignee_type%></td>
						</tr>
			
						<% c=( ( c.blank? ) ? "alt" : "") %>
					<%end%>
					<% else %>
					<tr>
					<td style="background-color:#EBEBEB;"></td>
					</tr>
					
									<%end%>
			</tbody>
		</table>
		<% if !todo.nil? %>
					<%= sortable_element "tbody_for_task_#{task.id}",:url  => reorder_todo_project_task_todos_path(@project.url,@project,task,todo),:method => :get, :tag => 'tr',  :handle => 'handle',
 :containment=>@containment,  :constraint => false, :dropOnEmpty => true, :revert=>true %>
 <% else %>
 <%= sortable_element "tbody_for_task_#{task.id}",:url  => reorder_todo_project_task_todos_path(@project.url,@project,task,0),:method => :get, :tag => 'tr',  :handle => 'handle',
 :containment=>@containment,  :constraint => false, :dropOnEmpty => true, :revert=>true %>
 <% end %>
		

	
		<script>
		
	function close_taskmodals(task_id)
	{
	
			var myvar=new Array(); 
			j=0;
							$('create_new_todo_'+task_id).hide();
					$('add_todo_link_for_'+task_id).show();
			<% if @my_tasks && !@my_tasks.empty?	 %>
				<% @my_tasks.each do |task| %>
						myvar[j]=[<%= task %>];
						j++;
				<% end %>
				size=myvar.size();
				for(i=0;i<size;i++)
				{ 
					$('create_new_todo_'+myvar[i]).hide();
					$('add_todo_link_for_'+myvar[i]).show();
				}
				<% end %>
		}
	</script>