<div class="right-col" id="sidebar">
<div id="online_user">
	<%= render :partial=>'projects/dashboard/online_users' %>
</div>

		<h4>Email Notifications</h4>
		<ul class="file-list" id="email_notification">
			<%= render :partial=>'task_email_notification' %>
		</ul>

		<div id="task_files">
			<%= render :partial => "task_files"%>
		</div>
		<h4>Download Task</h4>
		<ul class="file-list">
			<li class="file-txt">
			<% if !check_completed_project %>
			<a href="#"  onclick="completed_alert(); return false">Task<%=file_time%>.txt</a></li>
			<% elsif !check_status_project %>
			<a href="#"  onclick="suspend_alert(); return false">Task<%=file_time%>.txt</a></li>
			<%else%>
			<a href="javascript:void();" onclick="download_bandwidth_check_task('<%=@task.id%>');">Task<%=file_time%>.txt</a></li>
			<%end%>
		</ul>
	</div>
  
  <script>
  
function download_bandwidth_check_task(id)
{
  var check="<%= @status %>";
  if (check=="true")
  {
    document.location.href ="<%=download_tasks_project_task_path(@project.url,@project,@task)%>";
  }
  else
  {
    $('account-limit-modal').show();
  }
}

  
  
  </script>