<div class="dash-shortcuts-content activity-list" id="dash_shortcuts">
  <table cellpadding="0" cellspacing="0">
    <thead>
      <tr>
      <th class="type">Type</th>
      <th class="description">Description</th>
      <th class="by">By</th>
      <th class="user">User</th>
      <th class="time">Time</th>
      <th class="project">Project</th>
      </tr>
    </thead>
    <tbody>
      <%@todos.each do |todo|%>
      <% display_time(todo)%>
        <%strike=""%>
        <%strike="strike" if todo.is_completed%>
        <tr>
          <td class="type todo ir"><span>Task</span></td>
          <td class="desc <%=strike%>"><%=link_to truncate(todo.title,180),project_site_url(todo.task.project)+project_task_todo_path(todo.task.project.url,todo.task.project,todo.task,todo),:title=>"Posted #{find_elapsed_time(todo.created_at)}"%></td>
          <td class="by <%=strike%>" ><%= strike.blank? ? "Posted by" : "Completed by" %></td>
          <td class="who <%=strike%>" ><%= link_to truncate(todo.user.full_name,10),project_site_url(todo.task.project)+project_people_path(todo.task.project.url,todo.task.project)%></td>
          <td class="time <%=strike%>"><%= link_to display_time(todo).strftime("%m:%M %p"),"#"%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>