<%=javascript_include_tag "prototype.js"%>
<%=javascript_include_tag "scriptaculous.js"%>
<%=javascript_include_tag "builder.js"%>
<%=javascript_include_tag "controls.js"%>
<%=javascript_include_tag "autocomplete.js"%>
<%=stylesheet_link_tag "common.css"%>

<body class="people">

<!-- Top header Links Starts Here -->
<%=render :partial=>'/layouts/header_top'%>
<!-- Top header Links Ends Here -->

<div class="container">
	<div class="width-wrapper">
		<div id="profile-add-new" class="left-col main-content">
	<%= render :partial => '/layouts/header_nav_tabs' %>
			<div class="box-top-left"></div>
			<div class="box-top"></div>
			<div class="box-top-right"></div>
			
			<div class="main-padder">
			
			<div class="dash-box">
				<h2 class="header-bar">Add New Person</h2>
				<div class="padder dark-bg">
					


					<% form_remote_tag :url=>new_user_invite_path(@project.url,@project),:html=>{:class=>'two-col-form share-line r-align-labels'},:loading=>"Element.show('spinner')",:complete=>"Element.hide('spinner')" do %>


						<%= hidden_field_tag 'project', @current_project.url %>
						<p class="desc" style="float:none;">The individual's first and last initial are displayed next to messages, tasks, posts and files.</p>
						<div class="left-col">
							<fieldset class="required">
							<label>First Name</label>
							<div class="input-wrapper text-wrapper">
								<div class="box-top-left"></div>
								<div class="box-top"></div>
								<div class="box-top-right"></div>
								<div class="box-body">
									<%= text_field 'user', 'first_name' %>
								</div>
								<div class="box-bottom-left"></div>
								<div class="box-bottom"></div>
								<div class="box-bottom-right"></div>
							</div>
							<br/><br/>
							<label>Last Name</label>
							<div class="input-wrapper text-wrapper">
								<div class="box-top-left"></div>
								<div class="box-top"></div>
								<div class="box-top-right"></div>
								<div class="box-body">
									<%= text_field 'user', 'last_name' %>
								</div>
								<div class="box-bottom-left"></div>
								<div class="box-bottom"></div>
								<div class="box-bottom-right"></div>
							</div>
							<br/><br/>
							<label >Email</label>
							<div class="input-wrapper text-wrapper">
								<div class="box-top-left"></div>
								<div class="box-top"></div>
								<div class="box-top-right"></div>
								<div class="box-body">
									<%= text_field 'user', 'email' %>
								</div>
								<div class="box-bottom-left"></div>
								<div class="box-bottom"></div>
								<div class="box-bottom-right"></div>
							</div>
							</fieldset>
						</div>
						<div class="submit-actions">
									<%= submit_tag "Add a new person",:class=>"btn add-person-btn"%>
						</div>
					<% end %>
				</div>
			</div>
			<% if @other_members.count > 1 %>
			<div class="dash-box">
				<h2 class="header-bar">Invite People to the Project</h2>
				<div class="padder dark-bg">

			<% form_remote_tag(:url=>invite_people_project_path(@project.url,@project), :html=>{:class=>"wide-col-form share-line"},:loading=>"Element.show('spinner')",:complete=>"Element.hide('spinner')") do %>
				<%= hidden_field_tag 'project', @current_project.url %>
					<div class="left-col">
						<label>Find People:</label>
						<div class="input-wrapper text-wrapper" >
							<div class="box-top-left"></div>
							<div class="box-top"></div>
							<div class="box-top-right"></div>
							<div class="box-body">
								<div tabindex="-1" id="ids" class="clearfix tokenizer" onclick="$('autocomplete_input').focus()" >
									<span class="tokenizer_stretcher"></span><span class="tab_stop"><input type="text" id="hidden_input" tabindex="-1" ></span>
									<div id="autocomplete_display" class="tokenizer_input">
										<input type="text" size="1" tabindex="" id="autocomplete_input" class="textfield_effect"  name="new_member" value="Start typing a name ..." onclick="javascript:del_message();" style="width:165px;"/>
									</div>                                                                          
								</div>
								<div id="autocomplete_populate" class="clearfix autocomplete typeahead_list" style="width: 358px; height: auto; overflow-y: hidden;display:none">
								</div>  
							</div>
              <div class="box-bottom-left"></div>
              <div class="box-bottom"></div>
              <div class="box-bottom-right"></div>
						</div>
						
					</div>
					<div class="scroll span-cols">
						<ul class="people fit-3">
						<%@other_members.each do |mem|%>
								<% proj_member=ProjectUser.find_by_project_id_and_user_id_and_status(@current_project.id, mem.id,true) %> 
							  <li><label><%=check_box_tag "project_user[]",mem.id,checked=(current_user==mem || !proj_member.nil?),:disabled=>(current_user==mem),:id=>mem.email%><%=mem.full_name%></label></li>
            <%end%>
              </ul>
            </div>
						<!--	<div class="scroll span-cols pre-submit-pad">
		  			</div>-->
						<div class="submit-actions">
							 <%= submit_tag "Invite People",:class=>"btn invite-people-btn"%>
						</div>
					<% end %>
				</div>
 			<% end %>
			</div>
		</div> <!-- end main-padder -->
		<div class="box-bottom-left"></div>
		<div class="box-bottom"></div>
		<div class="box-bottom-right"></div>
		</div>
	</div>
	<div id="sidebar" class="right-col">
		<div id="online_user">	<%= render :partial=>'projects/dashboard/online_users' %></div>
	</div>
</div>
<%= render :partial=>'/layouts/base_footer'%>
<!--[if IE 6]>
<script type="text/javascript">
    /*Load jQuery if not already loaded*/ if(typeof jQuery == 'undefined'){ document.write("<script type=\"text/javascript\"   src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js\"></"+"script>"); var __noconflict = true; }
    var IE6UPDATE_OPTIONS = {
        icons_path: "http://static.ie6update.com/hosted/ie6update/images/"
    }
</script>
<script type="text/javascript" src="http://static.ie6update.com/hosted/ie6update/ie6update.js"></script>
<![endif]-->
<div id="spinner" style="display:none;"></div>
</body>
</html>
<script type="text/javascript">
	// preload images.
  (new Image()).src='/images/autocomplete/token.gif';
  (new Image()).src='/images/autocomplete/token_selected.gif';
  (new Image()).src='/images/autocomplete/token_hover.gif';
  (new Image()).src='/images/autocomplete/token_x.gif';
  var contacts = [
      <%@other_members.each do |user|%>
			  <% if user!=current_user %>
					{name:"<%=user.full_name%>",email:"<%=user.email%>"},
				<% end %>
      <%end%>
      {name:"",email:""}];

  var typeahead = new Autocompleter.LocalAdvanced('autocomplete_input', 'autocomplete_populate', contacts, {                                                  
                            frequency: 0.1,
                            updateElement: addContactToList,
                            search_field: "name"
                        });
  var hidden_input = new HiddenInput('hidden_input',typeahead);
</script>
<script>
function del_message()
{
val=document.getElementById('autocomplete_input').value;
if(val=="Start typing a name ...")
{
document.getElementById('autocomplete_input').value="";
}
}


</script>
<script>
function text_reset()
{
document.getElementById('user_first_name').value=" ";
document.getElementById('user_last_name').value=" ";
document.getElementById('user_email').value=" ";


}
function clear_autocomplete()
{
$('autocomplete_input').value=""
}

</script>


