
<body class="people">

<!-- Top header Links Starts Here -->
<%=render :partial=>'/layouts/header_top'%>
<!-- Top header Links Ends Here -->

<div class="container">
	<div class="width-wrapper">
		<div id="people-permissions" class="left-col main-content">
			<%= render :partial => '/layouts/header_nav_tabs' %>
			<div class="box-top-left"></div>
			<div class="box-top"></div>
			<div class="box-top-right"></div>
			<div class="main-padder">
				<div class="dash-box">

					<h2 class="header-bar">People &amp; Permissions</h2>
					<div class="padder dark-bg">
						<div id="members"><%= render :partial=>"members_list"%></div>
					</div><!--end padder dark-bg -->
				</div><!--end dash-box -->
			</div> <!-- end main-padder -->
			<div class="box-bottom-left"></div>
			<div class="box-bottom"></div>
			<div class="box-bottom-right"></div>
		</div><!--people-permissions end  -->
	</div><!--width wrapper end -->

	<div id="sidebar" class="right-col">
	<% if !check_completed_project %>
	<a href="#" class="btn invite-more-people-btn ir" onclick="completed_alert(); return false" ><span>Invite People</span></a>
	<% elsif !check_status_project %>
	<a href="#" class="btn invite-more-people-btn ir" onclick="suspend_alert(); return false" ><span>Invite People</span></a>
		<%elsif check_role_for_guest%><a href="<%=invite_path(@project.url,@project)%>" class="btn invite-more-people-btn ir"><span>Invite People</span></a><%end%>
		
		<div id="online_user">	<%= render :partial=>'projects/dashboard/online_users' %></div>
      <div id="members_details"><%= render :partial=>"members_details"%></div>
    
	</div><!--side bar end -->
</div><!-- container end-->
<%= render :partial=>'/layouts/base_footer'%>
<!--[if IE 6]>
<script type="text/javascript">
    /*Load jQuery if not already loaded*/ if(typeof jQuery == 'undefined'){ document.write("<script type=\"text/javascript\"   src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js\"></"+"script>"); var __noconflict = true; }
    var IE6UPDATE_OPTIONS = {
        icons_path: "http://static.ie6update.com/hosted/ie6update//images/"
    }
</script>
<script type="text/javascript" src="http://static.ie6update.com/hosted/ie6update/ie6update.js"></script>
<![endif]-->

</body>






