<div id="recent_files">
<% unless @recents_chat_files.nil? || @recents_chat_files.empty? %>
  <h4>Recent Files</h4>
  <ul class="file-list">		
    <% @recents_chat_files.each do |file| %>
      <li style="background-image:url(<%=icon_with_file(file.content_type,file.filename)%>)">
			<% if !check_completed_project %>
			<a href="#" onclick="completed_alert(); return false" ><%= return_truncated_filename(file.filename) %></a>
			<% elsif !check_status_project %>
			<a href="#" onclick="suspend_alert(); return false" ><%= return_truncated_filename(file.filename) %></a>
			<%else%>
			<%=link_to return_truncated_filename(file.filename),"#",  :onclick=>"javascript:download_bandwidth_check_chat(#{file.id});"%>
			
			<%end%>
			</li>
    <%end%>
  </ul>
<%end%>
</div>
 <script>
  function download_bandwidth_check_chat(id)
{

		var check="<%= @status %>";
		var owner="<%= @is_proj_owner %>";
		if (check=="true")
		{
			<% if check_status_project %>
				document.location.href ="/<%= @project.url %>/chat/download_chat/<%= @project.id %>?file_id="+id;
			<% end %>
			}
		else
		{
$('account-limit-modal').show();
}
}
 </script>