
<script type="text/javascript" src="/javascripts/multifile_compressed.js" ></script >
	<%= javascript_include_tag "control.modal" %>
  <%=javascript_include_tag "socky_chat.js"%>
    <% content_for :head do %>
      <%= socky :host=>SOCKY_CONFIG[:host],:channels=>"pop_out_#{params[:project_id]}"%>
    <% end %>

<body class="popout">
  <div class="container">
		<div id="chat" class="main-content">
      <div class="zerostate" id="chat_zero_state" style="<%=(@chats.empty? && @today_chats.empty?) ? "" : "display:none;"%>">
        <div class="zero zero-chat">
          <h2>Start your first co&middot;think&middot;it chat</h2>
          <div class="zero-icon-chat"></div>
          <p>Chat sessions with your team are a great way to discuss, brainstorm, cothink, and jump-start your project.</p>
          <ul><li><a class="zero-arrow" href="javascript:show_chat();">Start your first chat</a></li></ul>
        </div>
      </div>
    
      <div id="show_chat" style="<%=(@chats.empty? && @today_chats.empty?) ? "display:none;" : ""%>">
      
      <% form_tag message_project_chat_path(@project.url,@project,:pop_out=>true) , :multipart => true, :target => 'upload_frame' ,:id=>"chat-form" do %>
      <input type="hidden" value="" name="message_value" id="message_value"></input>
        <div class="input-wrapper textarea-wrapper">
            <div class="box-top-left"></div>
            <div class="box-top"></div>
            <div class="box-top-right"></div>
            <div class="box-body" id="change_text_area" style="overflow:hidden;">
						 <% if !check_completed_project %>
      			<%= text_area_tag :message,"",:id=>'chat-msg',:onkeypress=>"completed_alert()",:rows=>1,:cols=>50%>      
						<% elsif !check_status_project %>
      			<%= text_area_tag :message,"",:id=>'chat-msg',:onkeypress=>"suspend_alert()",:rows=>1,:cols=>50%>      
						<%else%>
						<%= text_area_tag :message,"",:id=>'chat-msg',:onkeypress=>"send_message(event)",:rows=>1,:cols=>50%>
			
						<%end%>
            </div>
            <div class="box-bottom-left"></div>
            <div class="box-bottom"></div>
            <div class="box-bottom-right"></div>
          </div>
          <div class="submit-actions">
						  <% if !check_completed_project %>
									<%=submit_tag 'Send', {:class => "btn send-btn",:id=>"submit-chat",:onclick=>"completed_alert(); return false",:style=>"margin-bottom:20px;"}%>
									<% elsif !check_status_project %>
									<%=submit_tag 'Send', {:class => "btn send-btn",:id=>"submit-chat",:onclick=>"suspend_alert(); return false",:style=>"margin-bottom:20px;"}%>
							  <%else%>
								<%=submit_tag 'Send', {:class => "btn send-btn",:id=>"submit-chat",:onclick=>"this.disabled=true;store_content_in_chat('chat-msg');return send_chat();",:style=>"margin-bottom:20px;"}%>
                    
								<%end%>	
					<a class="upload-files link-labelless" title="Upload Files" href="#file_upload" onclick="$('file_upload').show(); return false;"><span>Upload Files</span></a>
				<% if !check_completed_project %>
						<a class="create-todo link-labelless" href="#" onclick="completed_alert(); return false" title="Add Task" id="chat_add_todo"><span>Add Task</span></a> 
						<% elsif !check_status_project %>
						<a class="create-todo link-labelless" href="#" onclick="suspend_alert(); return false" title="Add Task" id="chat_add_todo"><span>Add Task</span></a> 
				 <%else%>
						
						<% if check_role_for_guest%>
										<a class="create-todo link-labelless" href="<%=new_todo_project_chat_path(@project.url,@project)%>" title="Add Task" id="chat_add_todo"><span>Add Task</span></a>
										<script>new Control.Modal($('chat_add_todo'), {className:'modal_container', method:'get'});</script>
							<%else%>
										<a class="create-todo link-labelless" href="#" onclick="guest_user_alert(); return false" title="Add Task" id="chat_add_todo"><span>Add Task</span></a>
							<%end%>
          <%end%>	
           <%= render :partial=>"projects/comment_progress_bar"%>
          </div>
				<%= render :partial=>'remove_upload_files' %>
        <iframe id='upload_frame' name="upload_frame" style="width:0px;height:0px;border:0px;display:none" src="about:blank"></iframe>
      <% end %>
      
			<div id="display_form" style="display:none;">
			<!--<div id="add-file-modal" class="modal">-->

			<form action="#" class="padder">
						<div class="group">
							<label>Title</label>
							<div class="input-wrapper text-wrapper ">
								<div class="box-top-left"></div>
								<div class="box-top"></div>
								<div class="box-top-right"></div>
								<div class="box-body">
									<input type="text" value="" onclick="this.value=''" />
								</div>
								<div class="box-bottom-left"></div>
								<div class="box-bottom"></div>
								<div class="box-bottom-right"></div>
							</div>
						</div>
						<div class="group">
							<label>Tags <span class="instr">(E.g. accepted, rejected, pending)</span></label>
							<div class="input-wrapper text-wrapper ">
								<div class="box-top-left"></div>
								<div class="box-top"></div>
								<div class="box-top-right"></div>
								<div class="box-body">
									<input type="text" value="" onclick="this.value=''" />
								</div>
								<div class="box-bottom-left"></div>
								<div class="box-bottom"></div>
								<div class="box-bottom-right"></div>
							</div>
						</div>
						<div class="group choose-col">
							<a href="#"><span>Choose File(s)</span></a>
							<span class="filename">accepted.psd</span>
						</div>
						<div class="group submit-col">
							<input type="submit"  value="Add Files "></input>
						</div>
					</form>
					</div>
					</div>
        
				<div class="chat-log" style="margin-top:30px;">
        	<div class="chatContent" id="chatContent" style="height:auto; display:none();"> </div>
          <div  id="cha-information">
              <div id="log-arrow" class='log-arrow' style="<%= @today_chats.empty? ? "display:none" : ""%>"></div>
          </div>  <!--caht messages -->
            
            <%@user_id=0%>
            <%@alt=""%>
						<% if @today_chats && !@today_chats.empty?  %>
            <%@today_chats.each do |chat|%>
								<div class="chat-row a3 <%=@user_id==chat.user_id ? "same-author" : ""%>" style="background-color:#<%=user_color(chat.user)%>;">
                <div class="box-top"></div>
                <div class="box-top-right"></div>
                <span class="author"><%= chat.user.user_name %></span>
                <div class="chat-log-msg <%=chat_shade(chat.user_id)%>">
                   <%=message_formation(chat)%>
								</div>
								<div class="timestamp"><%=find_elapsed_time(chat.created_at)%></div>
								<div class="box-bottom-right"></div>
								<div class="box-bottom"></div>
							</div>
							<% @user_id=chat.user.id %>
						<% end %>
						<%end%>
            

              <% @user_id=0 %>
              <%@alt=""%>
							<% if @chats && !@chats.empty?  %>
              <% @chats.each_with_index do |chat_message,index| %>
							<%@user=chat_message.user%>
							<%color = @user.color_code.nil? ? "ffffff" : @user.color_code %>
              <div class="chat-row a3 <%= @user_id==@user.id ? "same-author" : "" %> <%= index==0 ? "first" : ""%>" style="background-color:#<%=color%>;">
               <%if index==0%>
                 <% if @chats && !@chats.empty? %><div class="day-divider"><h4><a href="/logs/.txt"><%= @date %></a></h4></div><%end%>
                 <%= @today_chats.empty? ? "<div class='log-arrow'></div>" : ""%>
               <%end%>
              <div class="box-top"></div>
              <div class="box-top-right"></div>
              <span class="author"><%= @user.user_name %></span>
								<div class="chat-log-msg <%=chat_shade(@user.id)%>">
                   <%=message_formation(chat_message)%>
								</div>
								<div class="timestamp"><%= current_user.user_time(chat_message.created_at).strftime("%l %P") %></div>
								<div class="box-bottom-right"></div>
								<div class="box-bottom"></div>
							</div>
							<% @user_id=@user.id %>
						<% end %>
						<%end%>
            </div>
          </div><!--show_chat-->
      </div>
      <div class="box-bottom-left"></div>
      <div class="box-bottom"></div>
      <div class="box-bottom-right"></div>
    </div>
  </div>

<script>
  function send_message(event)
  {
    store_content_in_chat('chat-msg');
    if(event.keyCode==13)
    {
      $('progress').style.backgroundPosition="-132px 3px" ;
      if (($('chat-msg').value.strip()=="") && ($('files_list').innerHTML==""))
      {return false;}
      else
      {
        if($('submit-chat').disabled==false)
        {
          document.getElementById('change_text_area').innerHTML='<textarea onkeypress="send_message(event)" name="message" id="chat-msg" rows=1 cols=50></textarea>';
         // $('chat-msg').focus();
          if($('files_list').childElements().length>0)
          {
            $('progress').show();
            $('progress_status').innerHTML="";
            $('progress_status').show();
            var uuid = "";
             for (i = 0; i < 32; i++) {
              uuid += Math.floor(Math.random() * 16).toString(16);
             }
              document.getElementById("chat-form").action="<%=message_project_chat_path(@project.url,@project,:pop_out=>true)%>"+"&X-Progress-ID=" + uuid;
              document.forms["chat-form"].submit();
              interval = window.setInterval(
                      function () {
                      fetch(uuid);},1000);
          }
          else
          {
            document.getElementById("chat-form").action="<%=message_project_chat_path(@project.url,@project,:pop_out=>true)%>";
            document.forms["chat-form"].submit();
          }
        }
      $('submit-chat').disabled=true;
      }
    }
  }

  function send_chat()
  {
    
    if (($('chat-msg').value.strip()=="") && ($('files_list').innerHTML==""))
    {  return false;}
    else
    {
      $('progress').style.backgroundPosition="-132px 3px" ;
      if($('files_list').childElements().length>0)
      {
        $('progress').show();
        $('progress').show();
        $('progress_status').innerHTML="";
        $('progress_status').show();
        var uuid = "";
         for (i = 0; i < 32; i++) {
          uuid += Math.floor(Math.random() * 16).toString(16);
         }
          document.getElementById("chat-form").action="<%=message_project_chat_path(@project.url,@project,:pop_out=>true)%>"+"&X-Progress-ID=" + uuid;
          interval = window.setInterval(
                  function () {
                  fetch(uuid);},1000);
      }
      else
      {
        document.forms["chat-form"].submit();
      }
    }
  }
	
	function enable_button()
	{

	 $('submit-chat').disabled=false;
//$('chat-msg').disabled=false;
 $('chat-msg').focus();
	}
	
	  function download_bandwidth_check_chat_log(date)
{

		var check="<%= @status %>";
		var owner="<%= @is_proj_owner %>";
		if (check=="true")
		{
			<% if check_status_project %>
				document.location.href ="/<%= @project.url %>/chat/download_chat/<%= @project.id %>?date="+date;
			<% end %>
		}
		else
		{
$('account-limit-modal').show();
}
}

function show_chat()
{
  $('show_chat').style.display="block";
  $('chat_zero_state').style.display="none";
}
	
</script>

  <%= yield( :bottom ) %>

</body>
